@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
 
:root {
    --primary-color: rgb(55, 55, 108); /* #37376C */
    --secondary-color: rgb(234, 230, 229); /* #EAE6E5 */
    --accent1-color: rgb(130, 25, 51); /* #821933 */
    --accent2-color: rgb(14, 12, 48); /* #0E0C30 */
                                
    --heading-font: 'Roboto Slab', serif;
    --paragraph-font: 'Roboto Slab', serif;
}

/* header rules */

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 140px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid rgba(55, 55, 108, 0.2);
    max-width: 1000px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 120px;
    height: auto;
    padding: 10px;
}

h1 {
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* p body and sherman :) */

body {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

/* footer garbo */

footer p {
    display: flex;
    justify-content: center;
    font-size: 90%;
    margin-top: 40px;
    margin-bottom: 0;
}

.sociallinks {
    text-align: right;
}

/**********************************************************

history class but the cool kind. also start of ABOUT US? 

**********************************************************/

.history h2 {
    display: flex;
    justify-content: center;
}

.history p { /* THANKS STACK OVERFLOW GUY AHHHHHH IT FINALLY LOOKS RIGHT */
    position: relative;
    min-width: 1px;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

/* adventure-awaits class */

.adventure-awaits h2 {
    display: flex;
    justify-content: center;
}

.adventure-awaits div {
    display: flex;
    justify-content: center;
}  

.adventure-awaits figure {
    margin: 0;
    padding: 3px;
}

.adventure-awaits img {
    display: flex;
    justify-content: center;
    width: 200px;
}

.adventure-awaits figcaption {
    flex-direction: column;
    justify-content: center;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    font-size: 90%;
    max-width: 200px;

}

nav a {
    text-decoration: none;
    font-family: var(--paragraph-font);
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: var(--primary-color);
	padding: 6px;
	text-decoration: none;
}

.navigation a:hover {
	color: var(--accent1-color);
	text-decoration: underline;
}

/* hero class */

.hero {
    display: flex;
    justify-content: center;
}

.hero div img {
    display: block;
    width: 100%;
    height: auto;
    padding: 100px;
    margin: 200px;
}

.hero h1 {
    position: absolute;
    padding: 2rem 20px 2rem 20px;
    background-color: rgba(1, 0, 17, 0.7); /*rgba(14, 12, 48, 0.7)*/
    color: var(--secondary-color);
    width: 984px;
    margin: 3rem 0 0 0;
    text-align: center;
}

.hero article {
    position: absolute;
    bottom: 200px;
    padding: 5px 5px 5px 15px;
    width: 55%;
    min-width: 500px;
    background-color: rgba(234, 230, 229, 0.7);
}

.hero article p {
    color: var(--accent2-color);
} 

.hero article img {
    float: right;
    margin: 10px;
}

/**********************************************************

start of CONTACT US

**********************************************************/


/* AHHHAIFG GFJ i am leaving this ugly for now i do not have the time */

.contact-us h1 {
    text-align: center;
}

.form-n-map {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    border: 5px solid var(--accent2-color);
    color: white;
}

.fieldsets {
    display: flex;
    width: 600px;
    flex-direction: column;
    background-color: var(--primary-color);
}

.map {
    background-color: var(--accent2-color);
    border-top: 5px solid var(--accent2-color);
    border-right: 7px solid var(--accent2-color);
    border-left: 4px solid var(--accent2-color);
    
}

.field1 {
    display: flex;
    padding: 1rem 4rem 1rem 1rem;
    border: 0;
    
}

.field2 {
    padding: 0 0 0rem 1rem;
    border: 0;
}

.field1 legend {
    padding: 1rem 0 0 0;
}

.field2 p {
    color: white;
}

legend {
    color: rgb(172, 172, 202);

}

label, input {
    padding: 0.3rem;
    font-family: var(--paragraph-font);
    font-size: 16px;
}

input {
    color: var(--accent2-color);
}

.radios {
    padding: 0 1rem 1rem 0;
}

textarea {
    display: flex;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    width: 500px;
    font-family: var(--paragraph-font);
    font-size: 14px;
    font-weight: 450;
    color: var(--accent2-color);
}

.subscribe label {
    font-size: 13px;
}

.contact-us button {
    float: inline-end;
    margin: 1rem 1rem 0 0;
    font-family: var(--paragraph-font);
    font-weight: 500;
    color: var(--accent2-color);
}

button:hover {
    color: var(--accent1-color);
    text-decoration: underline;
    border-radius: 4px;
}

/* NOT FORM STUF AHHAHHHH */

.contact-info {
    display: flex;
    padding: 2rem;
    justify-content: space-around;
}

.employees {
    display: flex;
    justify-content: center;
    
}

.employees img {
    width: 250px;
    border: 1px solid rgba(55, 55, 108, 0.2);
    border-radius: 2px;
}

.employees figcaption {
    width: 250px;
    text-align: center;
}

/********************************************************

start of TRIPS

********************************************************/


.trips-page {
    margin: 3rem 3rem 3rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3rem;
}

.trips-page img {
    width: 100%;
}

.tell-us {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 4rem 1rem;
    border: 1px solid rgba(55, 55, 108, 0.2);
    border-radius: 4px;
    text-align: center;
}

.trips-page * button {
    border: 0;
    border-radius: 2px;
    margin: 1rem;
    padding: 1rem;
    font-family: var(--paragraph-font);
    font-size: 18px;
    background-color: var(--primary-color);
    color: white;
}

/* dawg the buttons are dependant on the amount of text and that's crazy but im not dealing with that, i have to work on the other page buddy */

.trips-page * button:hover {
    border-radius: 2px;
    text-decoration: none;
    background-color: var(--accent1-color);
}

.tell-us button {
    border-radius: 2px;
    margin: 0;
    padding: 1rem 3rem;
}

.trips button {
    width: 50%;
}

.skelly-trip {
    grid-row: 1 / 1; /* gone */
    grid-column: 1 / 6; /* 2 / 6; */
    display: flex;
    
    align-items: center;
}

.skelly-about {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin: 0 0 0 1rem;
    max-width: 30%;
    font-weight: 600;
    text-align: center;
    padding: 1rem 1rem 1rem 5rem;
}

.skelly-about p {
    font-weight: 400;
}

.skelly-about button {
    font-size: 18px;
    padding: 1rem
}

.trips {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.trips figure {
    margin: 0;
}

.trips figcaption {
    text-align: center;
    max-width: 100%;
}

.trips-page table {
    grid-row: 3 / 4;
    grid-column: 1 / 6;
}

th, td {
    background-color: rgba(55, 55, 108, 0.2); /* thing reasons */
    
}

th {
    padding: 6px;
}

td {
    padding: 1rem;
    text-align: center;
    max-width: 200px;
}

