
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: rgb(17, 22, 56); /* i like navy blue */
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
}

h1 {
    color: rgb(26, 32, 71);
    margin: 1rem;
    padding: 1rem;
    border-bottom: 1px solid rgb(26, 32, 71);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(17, 22, 56);
    padding: 2px;
    box-shadow: 0 0 20px rgb(161, 161, 168); /* shadoowwee */
}

p { 
    padding: 0rem 1rem 1rem 1rem; /* I guess idk */
}


main {
    grid-column: 2/3;
    margin: 1rem;
    color:rgb(26, 32, 71)/* yuh USELESS */
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

aside { 
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    color: white;
    position: absolute;
    top: 100px;
    left: 50px;
}

aside img {
    margin: 1rem;
    height: auto;
    padding: 0;
    box-shadow: 0 0 20px rgb(140, 149, 196); /* different surfaces, different shadows */
    width: 200px;
}

footer {
    text-align: center;
    border-top: 1px solid rgb(118, 131, 154);
    margin-top: 15px
}

/* Class Selectors */

.box {
    margin: 0rem 0rem 1rem 1rem;
    border: 1px solid rgb(178, 188, 207);
    padding: 1.5rem;
    background-color: rgb(235, 239, 247);
    color: rgb(43, 54, 112); 
}

.grid {
    display: grid;
    align-items: center;
}