nav {
    background-color: rgb(4, 1, 61); /* i like navy blue */
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(4, 1, 61);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(4, 1, 61);
    padding: 2px;
    box-shadow: 0 0 20px rgb(156, 151, 185); /* idk */
}

p {
    padding: 10px;    
}
